

.app {
  background-image: url('./assets/wallpaper/1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
}

.magicDiv {
    width: 95vw;
    height: 80vh;
    /* background: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 100%); */
    background-color: #F5F5F0;
    border-radius: 10px;
    color: #333;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom center;
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        opacity 0.4s ease;
    z-index: 10;
    overflow: hidden;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.magicDiv.show {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}

.hidden {
    display: block;
    /* Biar bisa di-transform */
}

.apps {
    width: 100vw;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: fixed;
    padding: 10px;
    left: 0;
    z-index: 100;
}

.app-items {
    cursor: pointer;
    /* transition: transform 0.3s ease; */
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        opacity 0.4s ease;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.app-items:hover {
    transform: scale(1.5);
}

#app-container {
    display: flex;
    gap: 15px;
    background-color: #ffffff45;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0000001c;

    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
    font-family: sans-serif;
}

.app-header h1 {
    font-size: 20px;
    margin: 0;
}

.app-header div span{
    cursor: pointer;
}

#clock {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.left-header,
.center-header,
.right-header {
  flex: 1; /* <--- Bikin ukurannya sama */
  display: flex;
  align-items: center;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.left-header-text span {
    margin-right: 15px;
    font-size: 14px;
    text-transform: capitalize;
}

.left-header-text span a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    font-weight: 500;
}

.right-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}

.center-header {
    justify-content: center;
}

.right-header {
    justify-content: flex-end;
}




@keyframes magicLampBounce {
    0% {
        transform: translateY(0) scaleY(1);
    }

    30% {
        transform: translateY(-20px) scaleY(1.2) scaleX(0.9);
    }

    60% {
        transform: translateY(-10px) scaleY(0.95) scaleX(1.1);
    }

    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
    }
}


.app-items.magic-lamp {
    animation: magicLampBounce 0.6s ease;
}

.app-items:hover.magic-lamp {
    animation: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}