.app {
  background-image: url('./assets/wallpaper/1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
}

.magicDiv {
    width: 95vw;
    height: 80vh;
    /* background: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 100%); */
    background-color: #F5F5F0;
    border-radius: 10px;
    color: #333;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom center;
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        opacity 0.4s ease;
    z-index: 10;
    overflow: hidden;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.magicDiv.show {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}

.hidden {
    display: block;
    /* Biar bisa di-transform */
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}