.container {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

.header {
  text-align: center;
  margin-bottom: 60px;
}

.header h1 {
  font-size: 28px;
  font-weight: bold;
}

.section {
  width: 100vw;
  max-width: 100vw;
  margin: 0 auto 100px auto;
  text-align: center;
  border: 1px solid blue;
  background-color: rgb(49, 24, 24);
}

.section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  color: #dbeafe;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.video-wrapper {
  background: black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 500px;
  aspect-ratio: 16 / 9;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.team {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.member img {
  width: 150px;
  height: 220px;
  border-radius: 10px;
  object-fit: cover;
  background: #d1d5db;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.member p {
  margin-top: 8px;
  font-size: 14px;
}

.slogan {
  font-style: italic;
  color: #bfdbfe;
  margin-top: 40px;
}