@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}


.container::-webkit-scrollbar {
  width: 8px; /* Lebar Scrollbar Vertikal */
  background-color: transparent;
}

/* 2. Styling Track (jalur di mana thumb bergerak) */
.container::-webkit-scrollbar-track {
  margin: 50px 0;
  background-color: #f8f9fa; /* Latar belakang terang */
  border-radius: 10px;
}

/* 3. Styling Thumb (bagian yang bisa digeser) */
.container::-webkit-scrollbar-thumb {
  background-color: #6c757d; /* Warna utama abu-abu tua */
  border-radius: 10px; /* Membuat ujungnya membulat */
  border: 2px solid #f8f9fa; /* Border untuk jarak dari track */
}

/* 4. Efek Hover pada Thumb */
.container::-webkit-scrollbar-thumb:hover {
  background-color: #495057; /* Warna lebih gelap saat disentuh/hover */
}